@import "syntax-variables";

@import "atom";

.hard-tab {
    padding: 2px 0;

    &:not(:first-child) {
        border-left: 1px solid @dark-gray;
    }
}

// Syntax styles
@import "generic";

@import "html";
@import "css";
@import "js";
@import "md";
@import "php";
@import "vue";

.syntax--comment {
    color: fade(@light-gray, 50%);

    .syntax--punctuation {
        color: fade(@light-gray, 50%);
    }
}
