.syntax--css {
    &.syntax--property-name,
    &.syntax--tag {
        color: @very-light-gray;
    }

    &.syntax--keyword,
    &.syntax--numeric,
    &.syntax--punctuation {
        color: @orange;
    }

    &.syntax--operator,
    &.syntax--unit {
        color: @light-orange;
    }

    .syntax--variable {
        color: @blue;

        .syntax--punctuation {
            color: @blue;

            &.syntax--string {
                color: @orange;
            }
        }
    }

    .syntax--at-rule {
        color: @cyan;

        .syntax--punctuation {
            color: @cyan;

            &.syntax--string {
                color: @orange;
            }

            &.syntax--terminator {
                color: @orange;
            }
        }
    }

    &.syntax--class,
    &.syntax--pseudo-class {
        color: @light-gray;
        font-style: italic;
    }

    &.syntax--string {
        color: @orange;
    }
}
