.syntax--php {
    &.syntax--variable {
        color: @very-light-gray;

        &.syntax--punctuation {
            color: @very-light-gray;
        }

        &.syntax--language {
            color: @blue;

            .syntax--punctuation {
                color: @blue;
            }
        }

        &.syntax--property {
            color: @light-gray;
        }
    }

    &.syntax--delimiter,
    &.syntax--keyword {
        color: @blue;

        &.syntax--control {
            &.syntax--exit {
                color: @cyan;
            }
        }
    }

    &.syntax--alias,
    &.syntax--assignment,
    &.syntax--class,
    &.syntax--inherited-class,
    &.syntax--numeric,
    &.syntax--operator,
    &.syntax--punctuation {
        color: @light-orange;

        &.syntax--array {
            color: @orange;
        }
    }

    &.syntax--constant,
    &.syntax--quoted,
    // &.syntax--section,
    &.syntax--string,
    &.syntax--terminator {
        color: @orange;

        &.syntax--key {
            color: @light-orange;
            font-weight: bold;
        }
    }

    &.syntax--array,
    &.syntax--construct,
    &.syntax--function,
    &.syntax--function-call,
    &.syntax--method-call {
        color: @cyan;
    }

    &.syntax--class,
    &.syntax--inherited-class {
        &.syntax--entity,
        &.syntax--support {
            font-style: italic;
            text-decoration: underline;
        }
    }

    &.syntax--alias {
        font-style: italic;
        text-decoration: underline;
    }

    &.syntax--storage {
        color: @blue;

        &.syntax--modifier {
            color: @light-gray;
        }
    }

    &.syntax--namespace,
    &.syntax--parameters {
        .syntax--parameter {
            .syntax--variable {
                color: @light-gray;
            }
        }
    }

    &.syntax--separator {
        color: @light-gray2;
    }
}
